.page{
    width: 70%;
    background: linear-gradient(to top left, purple, #7B68EE);
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    margin:  auto;
    color: #fff;
    padding: 35px;
    font-size: 18px;
}
.wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.item {
    width:45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 30px ;
    position: relative;
}
.item_wait{
    opacity: 0.5;
}
.item_process{
    color: #FFFF00;
}
.item__img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.item__img_wait{
    background: transparent url("img/watch.png") no-repeat 50% 50%;
}
.item__img_done{
    background: transparent url("img/done.png") no-repeat 50% 50%;
}
.item__img_process{
    background: transparent url("img/re-fresh.png") no-repeat 40% 50%;
    animation: spin 2s linear infinite;
    transition: none;
}
@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
.item__text{
    margin: 0 0 0 30px;
}
.item:before{
    content: '';
    width: 30px;
    height: 30px;
    border: 1px dashed #fff;
    display: block;
    border-radius: 50%;
    background-color: transparent;
    letter-spacing: 0;
    position: absolute;
    left: -100px;
}
.item:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 46%;
    background-color: transparent;
    border-right: 1px dashed #fff;
    top: 32px;
    left: -86px;
}
.item:last-child:after{
    content: none;
}
.item_process:before{
    border: 1px solid;
    background-image: url("img/mini_circle.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.item_done:before{
    border: 1px solid;
}
.item_done:after{
    border-right: 1px solid #fff;
}
.item:nth-child(odd):before, .item:nth-child(odd):after{
    content: none;
}
@media screen and (max-width: 768px){
     .item{
         width: 100%;
     }
    .item:last-child{
        padding-bottom: 0;
    }
    .item:nth-child(odd):before, .item:nth-child(odd):after{
        content: '';
    }
    .item:before{
        left: auto;
        right: 30px;
    }
    .item:after{
        left: auto;
        right: 46px;
    }
}
