.page{
    width: 70%;
    background: linear-gradient(to top left, purple, #7B68EE);
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    margin: 100px auto;
    color: #fff;
    padding: 35px;
    font-size: 18px;
}
.wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.item {
    width:45%;
    position: relative;
    list-style-type: none;
    padding-bottom: 30px ;
}
.item__checkbox {
    visibility: hidden;
}
.item__checkbox + label {
    padding-left: 30px;
    cursor: pointer;
}
.item__checkbox + label:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent url("watch.png") no-repeat 50% 50%;
    transition: .2s;
}
.item__checkbox_spin + label:before {
    background: transparent url("re-fresh.png") no-repeat 40% 50%;
    animation: spin 2s linear infinite;
    transition: none;
}
@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}
.item__checkbox:checked + label:before {
    background: transparent url("done.png") no-repeat 50% 50%;
    animation: none;
}
.item:before{
    content: '';
    width: 30px;
    height: 30px;
    border: 1px dashed #fff;
    display: block;
    border-radius: 50%;
    background-color: transparent;
    letter-spacing: 0;
    position: absolute;
    left: -100px;
}
.item_wait{
    opacity: 0.5;
}
.item_process{
    color: #FFFF00;
}
.item_done:before{
    border: 1px solid;
}
.item_process:before{
    border: 1px solid #fff;
    background-image: url("mini_circle.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.item:after {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 46%;
    background-color: transparent;
    border-right: 1px dashed #fff;
    top: 32px;
    left: -86px;
}
.item:last-child:after{
    content: none;
}
.item_done:after{
    border-right: 1px solid #fff;
}
.item:nth-child(odd):before, .item:nth-child(odd):after{
    content: none;
}
@media screen and (max-width: 768px){
     .item{
         width: 100%;
     }
    .item:last-child{
        padding-bottom: 0;
    }
    .item:nth-child(odd):before, .item:nth-child(odd):after{
        content: '';
    }
    .item:before{
        left: auto;
        right: 30px;
    }
    .item:after{
        left: auto;
        right: 46px;
    }
}
